body,*,html {
    padding: 0;
    margin: 0
}

.halaman-login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    background-color: white;   
    border-radius: 10px;
}

.regis {
    display: flex;
    gap: 3rem;
    margin: 5px 0 5px 0;
    margin-top: 10px;
    color: black;
}

input {
    font-size: 20px;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
}

button {
    font-size: 20px;
    padding: 5px 20px 5px 20px;
    border: solid 1px rgb(165, 165, 165);
    border-radius: 5px;
    background-color: rgb(0, 114, 6);
    color: white;
}

button:hover {
    background-color: white;
    background-color: rgb(0, 80, 4);
    transition: 0.5s;
}

form img {
    padding: 0 30px 0 30px;
    border-radius: 10px;
    margin-bottom: 20px;
}