@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body,*,html {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: #fff;
}

.halaman-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightgreen;
}

.container {
    height: fit-content;
    display: flex;
    width: 400px;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    padding: 30px 0px;
}

input {
    font-size: 15px;
    width: 300px;
    padding: 10px;
    border: #bbb8b8 1px solid;
    border-radius: 5px;
}

button {
    font-size: 15px;
    padding: 5px;
    gap: 20px; 
    border: #bbb8b8 1px solid;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

h1 {
    margin-bottom: 10px;
}

.regis {
    display: flex;
    height: 40px;
    align-items: center;
    width: 400px;
    border-radius: 5px;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
}

button:hover {
    background-color: lightblue;
    transition: 0.2s;
    cursor: pointer;
}


/* responsive */
@media  (max-width:640px) {
    .container {
        width: 250px;
    }

    h1 {
        font-size: 20px;
    }

    input {
        width: 200px;
    }

    .regis {
        width: 250px;
        font-size: 10px;
    }
}
